altgraph==0.17.3
Brotli==1.0.9
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
colorama==0.4.6
cryptography==39.0.1
decorator==4.4.2
idna==3.4
imageio==2.28.0
imageio-ffmpeg==0.4.8
moviepy==1.0.3
mutagen==1.46.0
nest-asyncio==1.5.6
Nuitka==1.5.8
numpy==1.24.3
ordered-set==4.1.0
pefile==2023.2.7
Pillow==9.5.0
proglog==0.1.10
psutil==5.9.5
pycparser==2.21
pycryptodomex==3.17
pyinstaller==5.8.0
pyinstaller-hooks-contrib==2023.7
pypresence==4.2.1
pywin32==306
pywin32-ctypes==0.2.0
requests==2.28.2
tqdm==4.64.1
urllib3==1.26.14
websockets==11.0.2
winshell==0.6
yt-dlp==2023.9.24
zstandard==0.21.0
